<!-- <h1>{{ rooms$ | async | json }}</h1> -->
<app-header></app-header>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms.availableRooms ?? "No Rooms" }} -->

<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<h1>
  <!-- {{ getError$ | async }} -->
  Number of rooms: {{ roomsCount$ | async }}
</h1>

<div *ngIf="rooms$ | async as rooms">
  <app-rooms-list
    [rooms]="rooms$ | async"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  />
</div>

<button (click)="toggle()">Toggle</button>

<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">Delete Room</button>

<h1>{{ totalBytes }} loaded</h1>
